<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barestodo.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

   <application
       android:name="com.barestodo.android.app.MyApplication"
       android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.barestodo.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.barestodo.android.PlaceDescriptionActivity"
            android:label="@string/title_activity_place_description"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.barestodo.android.CirclePlacesListActivity"
            android:label="@string/title_activity_places_list"
            android:launchMode="singleTask" >
        </activity>
       
       <activity android:name="com.barestodo.android.CirclesListActivity" />
       <activity android:name="com.barestodo.android.CircleMemberActivity" />
       <activity android:name="com.barestodo.android.CirclePlacesListActivity" />
       <activity android:name="com.barestodo.android.AddPlaceToCircleActivity" />
       <activity android:name="com.barestodo.android.AddCircleActivity" />
       <activity
            android:name="com.barestodo.android.CircleContentActivity"
            android:label="@string/title_activity_circle_content"
            android:parentActivityName="android.app.TabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.TabActivity" />
        </activity>
       <activity android:name=".WelcomeActivity" android:label="welcome"/>
       <activity android:name=".InvitePeopleActivity" android:label="Inviter un amis"/>
   </application>

    <!-- Pour télécharger images gravatar -->
    <!-- Pour les appels HTTP -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- pour enregistrer la place ??? WTF TODO tirer ça au clair -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

</manifest>